# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\java proj\miniproject_full_design\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
